/* This is a css file for the html code */

/* Set the background color to a gradient */
body {
  background: linear-gradient(to right, #000000, #6e6e6e);
  font: Arial;
}

/* Center the buttons */
button {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 80px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
