/* This is a css file for the html code */

/* Set the background color to a gradient */
body {
  background: #333333;
  font: Arial;
}

/* Center the buttons */
button {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 80px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
