* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 36px;
    background-image: linear-gradient(to right, #bdbaba, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.input-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.input-container input {
    flex-grow: 1;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    outline: none;
}

.input-container button {
    height: 40px;
    min-width: 180px; /* Augmenter la largeur du bouton */
    border-radius: 20px; /* Rendre les bords plus arrondis */
    border: none;
    margin-left: 10px;
    background-image: linear-gradient(to right, var(--main-gradient-start), var(--main-gradient-end));
    color: white;
    cursor: pointer;
    font-size: 16px; /* Augmenter la taille de la police pour mieux lire */
    padding: 0 20px; /* Padding horizontal pour plus d'espace autour du texte */
}

#qr-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;  /* Centrage horizontal des éléments flex */
    align-items: center;  /* Centrage vertical des éléments flex */
    flex-direction: column;  /* Les éléments s'empilent verticalement */
    height: auto;  /* Ajuster en fonction de la hauteur du contenu */
}

#qr-container canvas,
#qr-container img {
    max-width: 100%;  /* Assurer que le QR Code s'adapte à la largeur de son conteneur si nécessaire */
    height: auto;  /* Hauteur automatique pour maintenir les proportions */
    display: block;  /* S'assure que l'élément est traité comme un bloc */
    margin: 0 auto;  /* Centrage horizontal en cas de besoin */
}

#qr-container button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    min-width: 160px; /* Assurer que le bouton de téléchargement est suffisamment large */
    background-image: linear-gradient(to right, var(--main-gradient-start), var(--main-gradient-end));
    color: white;
    border: none;
    border-radius: 20px; /* Bords arrondis pour le bouton de téléchargement aussi */
    cursor: pointer;
    font-size: 16px;
}

:root {
    --main-gradient-start: #05f585 ; /* Vert clair */
    --main-gradient-end: #07c064;   /* Vert plus foncé */

}

